*{
    margin:0;
    padding:0;
}
body {
    background-color:#eee;
    color:#555;
    font:14px Arial,sans-serif;
}

h2{
    font-size:22px;
    margin:40px 0 10px 0;
	text-align:center;
}

.container {
    overflow: hidden;
    padding: 20px;
    position: relative;
}